.component-alert {
  &.alert-error {
    .alert-content-wrapper {
      background: $kamekyo-error-color;
      color: #fff;
      padding: 0.9rem;
      font-size: 1rem;
      margin: 1rem 0;
      border: #fff;
      border-radius: 5px;
    }
  }
}
